/* .momsCategory{
    margin-bottom: 6rem;
} */

.momsOnline{
    color: black;
    font-size: 35px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0px 40px
}

.momsWrapper{
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 40px;
}
.momsCat1{
    position: relative;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 20%;
    /* background-color: white; */
    /* border: 1px solid gray; */
    border-radius: 0%
}

.orderOnline{
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    /* border: 1px solid gray; */
    border-bottom-left-radius: 40px;
    padding: 25px 10px;
    margin: -20px 15px;
    background-color: white;
}

img{
    object-fit: cover;
    /* padding: 5px 0px; */
    margin: 5px;
    width: 90%;
    /* border-top-left-radius: 10%; */
    border-top-right-radius: 40px;
}